* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --background-color: hsl(0, 0%, 15%);
    --card-background: white;
    --card-image-radius: 3em;
    --background-image: url("../../index-web-pages/menu webpages/coffee-shop-assets/senior_couple_drinking_coffee_1151996846.jpg");
    --background-second-image: url("");
    --padding-text-space: 2em;
    --resturant-image: url("../../index-web-pages/menu webpages/resturant-images/pine-city-resturant.jpg");
    --button-color: hsl(98, 97%, 12%);
    --button-color-hover: hsl(100, 100%, 12%);
    --card-unrodered-list-background-image: url("../menu webpages/commerce-shop/abstract-background.jpg");
    --card-image-border-radius: .5em;
}

/*===================================== ATTRACTION WEBSITE =============================================*/

.main {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 3em;
    padding-bottom: 5em;
}

.main-section__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: max-content;
    gap: .8em;
}



.main-body--background {
    background-color: var(--background-color)
}

.main-body--background-adjustment  {
    background-position-y: -3em;
}

.card-unordered-list__card {
    background: var(--card-background);
    padding: .5em;
}

.card__image {
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100%;
    height: 200px;
}

.card-unordered-list__card > a p {
    text-align: center;
    padding: 1em;
}

.attraction-hero-section {
    height: 100vh;
}


.atrraction-hero__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
}

.main-section__heading {
    width: 80%;
    text-align: center;
    padding-top: 6em;
    margin: 0 auto;
}

/*========================================== COFFEE-SHOP PAGE =======================================================*/

.main-background--image {
    background-image: var(--background-image);
    height: 100vh;
}

.main-section__image-logo {
    width: 90px;
    height: 90px;
    margin-bottom: .8em;
}

.main-divider__logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.menu-section, .main-section__location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section__location {
    padding: var(--padding-text-space);
}

.menu-section__menu-routine-header {
    padding-bottom: 1em;
    padding-top: 1em;
}

.main-section__location {
    background-image: var(--background-second-image);
}

.article-heading--bottom-padding {
    padding-bottom: .5em;
}



/*=================================== MAP PAGE ================================================*/

.main-map--overflow {
    overflow: auto;
}

/*=================================== RESTURANT PAGE ================================================*/

.main-background {
    background-image: var(--resturant-image);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.resturant-hero {
    position: relative;
    width: 80%;
    height: 100vh;
    margin-bottom: 90em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered--content {
    margin: 0 auto;
}

.resturant-logo {
    width: 100px;
    height: 100px;
    filter: contrast(1.5);
    margin-bottom: 1em;
}

.breakfast-menu-section {
    background-color: var(--background-color);
    width: 100%;
    padding-bottom: 5em;
}

.resturant-hero__heading {
    padding-bottom: .5em;
}

/*=================================== OUR SHOPS WEBPAGE ================================================*/


.main-area-section-background--image {
    background-image: url("../menu webpages/commerce-shop/Presentation1.jpg");
    height: 100vh;
    filter: contrast(1.2);
}

.background-image--adjustments {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    filter: contrast(1.2);
}

.main-area--image {
    display: none;
}



.hero-text-area {
    position: relative;
    top: 10em;
    width: 50%;
    margin: 0 auto;
}

.section-text__heading {
    margin-bottom: .5em;
    padding-right: 2em;
}

.button {
    display: inline-block;
    width: 40%;
    padding: 1.5em;
    background-color: var(--button-color);
    border-radius: 5px;

    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: .2s;
}

.button::before {
    content: "";
    position: relative;
    left: -2px;
    transition-property: left;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.button:hover::before {
    content: ">> ";
    left: 2px;
}

.button:hover {
    background-color: var(--button-color-hover);
}


.shoping-catalogue {
    background-image: var(--card-unrodered-list-background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 5em;
}

.shoping-catalogue__header {
    padding-top: var(--padding-text-space);
    padding-bottom: var(--padding-text-space);
}

.shopping-catalogue__unordered-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    
}

.shopping-catalogue__unordered-list, .shoping-catalogue__header {
    width: 80%;
    margin-inline: auto;
}

.card-item-image--responsive {
    width: 100%;
    height: 350px;
    border-radius: var(--card-image-border-radius);
    padding: 1em;
}

.card-item {
    display: inline-block;
    background-color: var(--card-background);
    display: grid;
    height: 100%;
    border-radius: var(--card-image-border-radius);
}

.card-item__header {
    padding-top: var(--padding-text-space);
    padding-bottom: var(--padding-text-space);
    text-align: center;
}

