/*=============================== HERO BACKGROUND ADJUSTMENTS ========================================*/

@media (max-width: 900px) {
    .hero-section {
        top: 50px;
        border: 2px solid red;
        margin-bottom: 5em;
    }

    .hero-section__image, .hero-section__decoration {
        display: none;
    }

    .hero-section--background-image {
        background-image: var(--background-image-hero-mobile);
        background-color: var(--image-overlay);
        background-blend-mode: overlay;
    }

    .hero-section {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -50vw;
    }

    .article-subtext {
        font-size: large;
    }
}

@media (min-width: 200px) and (max-width: 300px){

    .hero-section {
        background-position-x: -120vw;
    }
}

@media (min-width: 600px) and (max-width: 875px){

    .hero-section {
        background-position-x: -25vw;
    }
}

@media (min-width: 875px) and (max-width: 899px){

    .hero-section {
        background-position-x: -10vw;
    }
}
