* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --nav-gradient: linear-gradient(90deg, hsl(17, 100%, 50%), hsl(337, 100%, 50%), orange);
    --gradient: linear-gradient(90deg, hsl(0, 0%, 0%), hsl(rgb(0, 0, 0)));
    --image-background-color: hsla(0, 0%, 9%, 0.603);
    --centered-margins: 0 auto;
    --text-color: white;
    --button-color: green;
    --padding: 1em;
    --image-contrast-level: contrast(1.15);
    --blend-mode-background-image: color-burn;

    /* Home Page Animal Background Images */
    --first-sections-background-image: url("../../animal-images/panda-image.jpg");
    --second-sections-background-image: url("../../animal-images/concept-art-antartic.jpg");
    --third-sections-background-image: url("../../animal-images/african-site.jpg");
    --fourth-sections-background-image: url("../../animal-images/rhinocerous.jpg");
    --fifth-section-background-image: url("../../animal-images/lemmer.JPG");

    /*About Page Animal Background Images */
    --about-background: url("../../green-leafs.jpg");

    /* Contact Page Animal Background Images */
    --contact-us-background-image: url("../../green-leafs.jpg");

}


/* =================================== NAVIGATION ============================================ */


/* ===================================== MAIN BODY BACKGROUND ======================================================= */
.main--background {
    background-image: var(--contact-us-background-image);
    background-color: var(--image-background-color);
    background-blend-mode: var(--blend-mode-background-image);
}

.main-body--bottom-margin {
    margin-bottom: 10em;
}

/* =================================== INDEX ============================================ */


.hero-section--layout {
    padding: var(--padding);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr auto auto;
    grid-template-areas: 
        "... ..."
        "... text-area"
        "... call-to-action";

    gap: 2em;


}

.hero-section__text {
    grid-area: text-area;
    padding-right: 4em;
    display: flex;
    flex-direction: column;

    gap: 1em;
}

.hero-section__button {
    grid-area: call-to-action;
    padding: 1.5em 0;
}

.button-size {
    display: inline-block;
    padding: 1.5em;
    text-align: center;
    
    width: 19%;
    border-radius: .2em;
}

.button-color {
    background-color: var(--button-color);
}

.hero-section__header, .hero-section__description, .button-color {
    color: var(--text-color);
}


/* Hero-Section__Backgrounds */
.hero-section-background-1 {
    background-image: var(--first-sections-background-image);
}

.hero-section-background-2 {
    background-image: var(--second-sections-background-image);
}

.hero-section-background-3 {
    background-image: var(--third-sections-background-image);
}

.hero-section-background-4 {
    background-image: var(--fourth-sections-background-image);
}

.hero-section-background-5 {
    background-image: var(--fifth-section-background-image);
}

.hero-section-background--modifier {
    background-color: var(--image-background-color);
    background-blend-mode: var(--blend-mode-background-image);
    filter: var(--image-contrast-level);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -5;
}

/* =================================== ABOUT ============================================ */
.about-us {
    position: relative;
    padding-top: 5em;
    background-image: var(--about-background);
}

.about-us-background-image--position {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--image-background-color);
    background-blend-mode: var(--blend-mode-background-image);
}

.about-section--content-wrapper {
    width: 70%;
    margin: 0 auto;
}

.about-us-title {
    padding: 3em;
}

.our-story-section {
    display: flex;
    flex-direction: row;
    gap: 4em;

    width: 90%;
    margin: 0 auto;
}

.our-story__heading {
    margin-top: 5em;
    padding-bottom: 1em;
}

.our-story-section__text {
    padding-right: 1em;
}

.empowerment-section, .objectives-care-section, .why-people-care-section {
    width: 90%;
    margin: 0 auto;
}

.why-people-care-section, .objectives-care-section, .our-story-section, 
.empowerment-section {
    padding-bottom: 3em;
}


.objectives-care__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 3em;
    text-align: center;
}

.empowerment-section {
    padding-bottom: 5em;
}

.our-objective--padding, .why-people-care-section__header {
    padding-bottom: 1em;
}

/*========================================== CONTACT US ==========================================================*/

.form-section {
    position: relative;
    top: 4em;
    padding: 1em;

    width: 90%;
    margin: 0 auto;

    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form__fieldset > * {
    width: 100%;
}

.form__fieldset > label .form--1__input {
    height: 45px;
    margin-top: .5em;
}

.image--adjustment-small {
    width: 359px;
}



.from-section__decoration {
    display: flex;
    justify-content: center;
}

.image--border-radius {
    border-radius: 50%;
}

.form--1 {
    width: 100%;
}

.form__button {
    display: inline-block;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
}

.form--1__input {
    width: 100%;
}

.form-button--no-border {
    border: none;
}

/*=============================================== OUR ATTRACTIONS ================================================================*/









