* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: var(--document-color);
    background-repeat: no-repeat;
    border: 1px solid red;
}

:root {
    --document-color: linear-gradient(hsl(0, 0%, 13%), hsl(0, 0%, 7%));
    --hero-decoration-color: hsla(0, 0%, 0%, 0.466);
    --card-color: white;
    --card-picture-border: 10%;
    --section-margin-space: 4em;
    --panda-background: url("../../images/large-view/group-pandas_433905-10785.jpg");
    --red-panda-background: url("../../images/large-view/group-red-pandas_433905-10131.jpg");
}

/* ======================================= HERO SECTION =========================================== */

.hero-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    background-color: var(--hero-decoration-color);
}

.section--height {
    height: 100vh;
}

.hero__article {
    height: auto;
    margin-top: 9.9%;
}

.hero__article--layout {
    width: 50vw;
    margin-left: 12em;
    margin-right: auto;
    padding-right: 8em;
}

.hero__article__heading {
    margin-bottom: .4em;
}

.hero-article__sub-text {
    width: 60%;
}


/* ======================================= ANIMAL SECTION =========================================== */
.main-section {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: var(--section-margin-space);
}

.animal-section {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.animal-section__heading {
    padding: 1em;
}

.animal-section__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.animal-section-card--reponsive-image {
    width: 100%;
    height: auto;
    padding: .5em;
    border-top-left-radius: var(--card-picture-border);
    border-bottom-right-radius: var(--card-picture-border);
}

.animal-section__card-1 {
    display: inline-block;
    background-color: var(--card-color);
}

.animal-section__card-description {
    text-align: center;
    padding: 1em;
}

.animal-section__card-description::before {
    content: ">> ";
}

/* ================================================= PANDA WEBSITES ======================================================== */
.main--panda-background {
    background-image: var(--panda-background);
}

.main--red-panda-background {
    background-image: var(--red-panda-background);
}

.main--panda-background, .main--red-panda-background {
    background-size: cover;
}






