:root {
    --once-menu-is-clicked: 300px;
}


/*=============================================== HOME SECTION ============================================================*/

@media (max-width: 800px) {

    .hero-section-background {
        background-color: var(--image-background-color);
        background-blend-mode: color-burn;
        filter: contrast(1.15);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        z-index: -5;
    }

    .hero-section--layout {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr auto 1fr;
        grid-template-areas:
            "..."
            "text-area"
            "call-to-action"
        ;
        gap: 0;   
    }

    .hero-section__text {
        grid-area: text-area;
        font-size: .85rem;
        letter-spacing: 1px; 
    }

    .hero-section__button {
        grid-area: call-to-action;
    }

    .button-size {
        width: 100%;
    }

}



@media (min-width: 700px) and (max-width: 900px){

    .hero-section--layout {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr auto 1fr;
        grid-template-areas:
            "..."
            "text-area"
            "call-to-action"
        ;
        gap: 50px;
        width: 60vw;
    }

    .hero-section__text {
        grid-area: text-area;
        font-size: .85rem;
    }

    .hero-section__button {
        grid-area: call-to-action;
    }

    .button-size {
        width: 100%;
    }

}

/* HOME SECTION BACKGROUND QUICK FIX */
@media (max-width: 600px) {
    .hero-section-background {
        background-color: var(--image-background-color);
        background-blend-mode: color-burn;
        background-position-x: -100px;
        filter: contrast(1.15);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        z-index: -5;
    }

    .hero-section-background-3-mobile--position-left {
        background-position-x: -190px;
        height: 100vh;
    }
}

/* ABOUT US SECTION */
@media (max-width: 900px) {
    .our-story-section {
        flex-direction: column;
    }

    .our-story__image {
        margin: 0 auto;
        max-width: 200px;
        max-height: 300px;
    }

    .about-us-title {
        padding: 1em;
    }
    
    .our-story__heading {
        margin: 0;
        padding-bottom: .5em;
    }
    .our-story-section__text {
        padding-right: 1em;
    }

    .our-story__heading, .our-story-section__text {
        margin-left: 0;
    }
}

/*========================================= CONTACT PAGE =============================================*/

@media (max-width: 500px)
{
    .image--adjustment-small {
        max-width: 100%;
        height: auto;
    }
}